﻿@model IList<Domain.Model.Result>

@{
    ViewBag.Title = "TURNER BROADCASTING SYSTEMS INC.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h3>@ViewBag.Message</h3>
            </hgroup>
            <p></p>
        </div>
    </section>
}
<h3>Search for a Title By Name</h3> 

@using (Html.BeginForm("Index", "Home")) //--Method Name / Controller : will be used during the post
{
    <table>
        <tr> 
            <td>          
                <br />
                @Html.TextBox("Title") <!--This name associates itself with the model-->
                <br />
                <input type="submit" value="Search" />

            </td>
        <tr />

        <tr><th>Movie Title&nbsp&nbsp&nbsp</th><th>Release&nbsp&nbsp&nbsp</th><th>Award&nbsp&nbsp&nbsp</th><th>Award Name&nbsp&nbsp&nbsp</th></tr> 

        @foreach (var t in Model)
        {
            <tr>

                <td>            
                    @Html.Label(t.TitleName.ToString()) 
                </td>

                <td>            
                    @Html.Label(t.ReleaseYear.ToString()) 
                </td>

                <td>
                    @Html.Label(t.AwardWon.ToString())
                </td>

                <td>
                    @Html.Label(t.Award.ToString())
                </td> 
            
            </tr>
        }
    </table>  
}

